 h1{
            color:white;
            background:black;
        }
        h2{
            color:white;
            background:black;
        }
h3
{
    color:white;
        background:black;
}
    h4
{
    color:white;
    background:black;
}