 h1{
            color:red;
            background:yellow;
        }
        h2{
            color:yellow;
            background: red;
        }
h3
{
    color:beige;
        background:aqua;
}
    h4
{
    color:firebrick;
    background:beige;
}